body{
  background-image: url(images/favicon-32x32.png);
  /*background-position: ;*/
  background-size: cover;
  
}

.card{
  background-color: aliceblue;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center ;
 width: 30%;
 height: 90%;
 border-radius: 5%;
 box-shadow: 2px 2px 4px black;
 
 
}
.container{
  background-color: hsl(220, 15%, 55%);
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 80vh;
 margin: 50px;
 box-shadow: 2px 2px 8px rgb(12, 12, 12);
}
 

.imgQr{
  width: 50%;
  margin: 20px;
  border-radius: 5%;
}
